body{
    margin: 0 auto;
	padding: 0;
	background-image: url(https://media.meteojob.com/theme/2.3/images/bg-clouds.png
	), linear-gradient( #1C82C9,#52A4DF,#8ECCF5);
	font-family: "Open Sans", Arial, sans-serif;
	color:#16354e;
	font-weight: bold;
}


.entete{
	text-align: center;
	margin-top: 20px;
}

.dernier{
	background-color: white;
	border: none;
	font-family: "Open Sans", Arial, sans-serif;
	color: #16354e;
	
}

.sous-logo{
	color: rgb(241, 235, 235);
	font-size: 21px;
	font-family: "Poiret One", "Open Sans", Arial, sans-serif
	font-weight: normal;
	line-height: 23.1px;
	letter-spacing: normal;
}

.contenu{
	border-radius: 5px;
    margin: 100% auto;
    width: 445px;
    margin-top: 20px;
	padding:20px;
	padding-right: 0px;
	background-color: white;	
}

.oeil{
	margin-right: 4px;
}

label{
	line-height: 30px;
	
}

.f1{
  width: 198px;
height: 18.5px;
}

.f2{
	margin-left: 16px;
}

.form{
    width: 420px;
    height: 18px;
}

.btn {
	padding: 15;
	display: inline-block;
	word-wrap: break-word;
	text-align: center;

}

.nom{
	margin-left: 170px;
	color: #16354e;
}

.black{
	color: #16354e;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	
}


/*les flexbox*/

.flexi{
	display: flex;
	justify-content: space-around;
}

.motflex{
	display: flex;
	justify-content: space-between;
	width: 425px;
	height: 23px;
	border: 1px solid rgb(196, 184, 184);
}

.pb{
	border: none;
	outline: none;
}

.prémier{
	background-color: #0f7ec5;
	color: white;
}

#fin{
	margin-left: -192px;
}

label{
	font-size: 13px;
	font-weight: bold;
	color: rgb(66, 69, 107);
}

.conditions{
			font-size: 12px;
			text-align: justify;
			margin-top: 10px;
			margin-left: -25px;
			font-weight: normal;
			line-height: 20px;
			letter-spacing: normal;
			
}


   /*Les boutons*/

.gridd{
	width: 422px;
}
.gridd input{
	display:none;
	background-color: lightgray;
}
.gridd div {
 	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;	
	grid-row-gap: 15px;
	
}
input:checked + label {
	background-color: rgb(48,136,188);
	color:white;
}

.gridd > div label{
	text-align: center;
	font-size: 14px;
	line-height: 15px;
		
}

.gridd label{
	background-color: #F2F2F2;
}

.box{
	padding-top: 10px;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans", Arial, sans-serif;
	height: 22px;
	letter-spacing: normal;
}

.box2{
	vertical-align: middle;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans", Arial, sans-serif;
	letter-spacing: normal;
	
}

.box3{
	color: #16354e;
}

.lastbutton{
	font-size:13px;
	font-weight: normal;
	font-family: "Open Sans", Arial, sans-serif;
	width: 120px;
	padding-top: 8px;

}

.manu{
	background-color: #0f7ec5;
       width: 100px;
       height: 35px;
       font-size: 15px;
	   border: 1px solid white; 
	   color: white; 
	   font-family: "Open Sans", Arial, sans-serif;
	  margin-left: 355px;
	  letter-spacing: normal;
}

/*.........................................................................*/

/*Bouton on/off */
#yn {
    display: none;
}

.yn-btn {
    display: grid;
    gap: 0px;
    width: 60px;
	margin-left: -5px;
	margin-top: 4px;
}

#yn:checked ~ .yn-btn {
    grid-template-columns: 0% 100%;
}



#yn ~ .yn-btn {
    grid-template-columns: 100% 0%;
}

.yn-btn p {
    overflow: hidden;
    margin-left: 0px;
    background-color: #cccccc;
    color: white;
    height: 25px;
    transition: 0.4s;
    border-radius: 6px;
}

.no  {
    text-align: right;
}

.yes  span{
    background-color:#3598db;
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: center;
	
	
}

.no span {
    background-color: rgb(94, 100, 94);
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
    

}


/*   <p id="fin" ><input type="submit" value="Continuer" class="manu"></p>*/